@model List<GetCategoryDTO>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Kategoriler</h3>
                </div>
                <div class="card-body">


                    <div class="row">

                        @foreach (var item in Model)
                        {
                            <a href="/Article/Filter/@item.ID">
                                <div class="col-sm-4">
                                    <div class="position-relative p-3 bg-gray" style="height: 180px">
                                        <h3>@item.Name</h3>

                                        <hr />
                                        @if (item.Description.Length >= 110)
                                        {
                                            @item.Description.Substring(0, 110)
                                        }
                                        else
                                        {@item.Description}

                                        <br />
                                        <div style="position:absolute; bottom: 10px; right: 10px; text-align:right">
                                            <a asp-action="Login" asp-controller="Home" class="btn btn-success">Takip Et</a>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            </a>
                        }

                    </div>


                </div>
                <div class="text-center">
                    <h4>Aradığın Kategori Yoksa...</h4>
                    <a class="btn btn-primary" asp-action="Login" asp-controller="Home">Kategori Oluştur</a>
                </div>
                <br />
                <!-- /.card-body -->
            </div>
           
            <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Ana Sayfaya Dön</a>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
